/* here you can put your own css to customize and override the theme */
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.swal2-container .swal2-popup {
    font-size: 1em;
}
.swal2-container .swal2-popup .swal2-icon {
    border-radius: 50% !important;
}
.swal2-container .swal2-popup button {
    margin-left: 10px !important;
}
p.alert.alert-success {
    margin-top: 0;
}
.ml-1 {
    margin-left:.25rem !important;
}
@media (max-width: 767px) {
    .page-header.navbar .page-top {
        clear: none;
        width: auto;
    }
}
.fa.fa-save {
    width: 14px;
}
input[type=number].no-arrows::-webkit-inner-spin-button,
input[type=number].no-arrows::-webkit-outer-spin-button,
input[type=date].no-arrows::-webkit-inner-spin-button,
input[type=date].no-arrows::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
select.no-arrows::-webkit-calendar-picker-indicator
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input.no-arrows::-webkit-clear-button { /* Removes blue cross */
    -webkit-appearance: none;
    margin: 0;
}
input.no-arrows.form-control::-ms-expand {
    display: none;
}

body * {
    font-family: Raleway, sans-serif;
}

.logo-default {
    color: #fff;
    font-weight: 600;
    font-size: 2em;
}